.menu-card {
  background-color: #edefee;
  padding-bottom: 1rem;
  border-radius: 5px;
}

.menu-card > img {
  height: 15vh;
  border-radius: 5px;
  width: 100%;
  object-fit: cover;
}

.menu-card-content {
  margin: 0.5rem 2rem 1rem 2rem;
  width: unset;
  padding: 0;
}

.menu-card-content > h1 {
  font-size: 2.2rem;
  margin: 0;
}

.menu-card-content > h3 {
  font-size: 1.8rem;
  margin: 0;
}
